.header {
    grid-area: header;
    background-color: darkolivegreen;
}
.header img {
    width: 100px;
    height: 100px;
}

.topic {
    display: inline;
    margin: 20px;
}

.topics {
    float: right;
    margin-top: 50px;
    margin-right: 40rem;
}